<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- ================= User Controllers ================= -->
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.pharmacy.controller.user.UserRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/user/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.pharmacy.controller.user.UserLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/user/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchMedicine</servlet-name>
        <servlet-class>com.pharmacy.controller.user.SearchMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchMedicine</servlet-name>
        <url-pattern>/user/SearchMedicine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>com.pharmacy.controller.user.UpdateCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/user/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>com.pharmacy.controller.user.AddToCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/user/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>com.pharmacy.controller.user.RemoveFromCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/user/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.pharmacy.controller.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <servlet-class>com.pharmacy.controller.user.ViewOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <url-pattern>/user/ViewOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewOrderHistory</servlet-name>
        <servlet-class>com.pharmacy.controller.user.ViewOrderHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOrderHistory</servlet-name>
        <url-pattern>/user/viewOrderHistory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>com.pharmacy.controller.user.Checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/user/Checkout</url-pattern>
    </servlet-mapping>
    <!-- ================= Admin Controllers ================= -->
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.pharmacy.controller.admin.AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/admin/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddMedicine</servlet-name>
        <servlet-class>com.pharmacy.controller.admin.AddMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMedicine</servlet-name>
        <url-pattern>/admin/AddMedicine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteMedicine</servlet-name>
        <servlet-class>com.pharmacy.controller.admin.DeleteMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMedicine</servlet-name>
        <url-pattern>/admin/DeleteMedicine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateMedicine</servlet-name>
        <servlet-class>com.pharmacy.controller.admin.UpdateMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMedicine</servlet-name>
        <url-pattern>/admin/UpdateMedicine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.pharmacy.controller.admin.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/admin/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminOrderServlet</servlet-name>
        <servlet-class>com.pharmacy.controller.admin.AdminOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOrderServlet</servlet-name>
        <url-pattern>/admin/AdminOrderServlet</url-pattern>
    </servlet-mapping>
    <!-- ================ Welcome Page ================ -->
    <welcome-file-list>
        <welcome-file>user/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
